<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.noscio.gf2">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="eu.noscio.gf2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="eu.noscio.gf2.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="eu.noscio.gf2" />
            </intent-filter>
        </receiver>
        <service
            android:name="ml.noscio.gf2.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="ml.noscio.gf2.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="ml.noscio.gf2.RegistrationIntentService"
            android:exported="false">
        </service>
        <activity
            android:name="ml.noscio.gf2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login1"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".login2"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".settings"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingsKlasse"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingsFach"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingsAllgemein"
            android:label="@string/app_name">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>